.section-01 {
    z-index: 0px;
    width: 100%;
    background-image: url('../img/bg-01.png');
    display: grid!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        @include flex(column, flex-start, flex-start);
        h2 {
            font-size: 3.5rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin-top: 90px;
            margin-bottom: 109px;
            .verde {
                color: #096729;
                font-size: 3.5rem;
            }
        }
        .content-02 {
            @include flex(row, center, center);
            gap: 10px;
            p {
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 2.0rem;
            }
        }
        .content-03 {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            p {
                color: #fff;
                font-size: 1.6rem;
            }
        }
        .btn {
            width: 100%;
            max-width: 770px;
            flex-direction: flex-end;
            margin-left: 540px;
            margin-top: 51px;
            margin-bottom: 150px;
        }
    }
}

.section-02 {
    margin-top: 139px;
    .container {
        @include flex(row, center, center);
        gap: 61px;
        .image {
            width: 100%;
            max-width: 602px;
            height: 382px;
        }
        .info {
            p {
                font-size: 2.4rem;
                font-weight: 500;
                color: #657078;
            }
            .info-images {
                @include flex(row, center, space-between);
                .content-image {
                    @include flex(column, center, center);
                    p {
                        text-align: center;
                        position: absolute;
                        bottom: -160px;
                    }
                }
            }
        }
    }
}

.section-03 {
        margin-top: 207px;
    .container {
        @include flex(row, center, center);
        h2 {
            font-size: 43px;
            color: #1ED55F;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            span {
                color: #096729;
                font-size: 43px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}