.section-01 {
    z-index: 0px;
    width: 100%;
    background-image: url('../img/bg-01.png');
    display: grid!important;
    margin-top: -140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        @include flex(column, flex-start, flex-start);
        h2 {
            font-size: 3.5rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin-top: 287px;
            .verde {
                color: #096729;
                font-size: 3.5rem;
            }
        }
        .content-02 {
            @include flex(row, center, center);
            gap: 10px;
            p {
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 2.0rem;
            }
        }
        .content-03 {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            p {
                color: #fff;
                font-size: 1.6rem;
            }
        }
        .btn {
            width: 100%;
            max-width: 770px;
            flex-direction: flex-end;
            margin-left: 540px;
            margin-top: 51px;
            margin-bottom: 150px;
        }
    }
}